/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

# Editors
/.idea

# Version Tools
.tool-versions
.envrc
flake.nix
shell.nix
.direnv/

# Dummy application
/spec/dummy/tmp
